body {
	
	background: #F5F5F5 url(http://www.spiegel.de/static/sys/v9/bg/bg_wrapper.png) repeat-y top left;
	
}

	#container {
		
		width: 860px; 
		background: #fff;
		padding: 50px 20px 50px;
		
	}
	
		#content {
			
			display: block;
			position: relative;
			width: 860px;
			height: 600px;
			
		}
			
			#grid {
				
				display: block;
				position: absolute;
				left: 0px;
				top: 0px;
				width: 520px;
				height: 600px;
				overflow: visible;
				
			}
			
				#infobox {
					
					display: none;
					position: absolute;

					background: #FFF;
					top: 0px;
					left: 520px;
					width: 320px;
					height: 580px;
					border-radius: 5px;
					box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.6);
					padding: 3px 10px 17px 10px;
					z-index: 500;

				}

					#infobox p {
						line-height: 1.2em;
						font-size: 12px;
						margin: 5px 0;
					}
			
			#display-number {
				
				display: block;
				position: absolute;
				right: 0px;
				top: 0px;
				width: 340px;
				height: 110px;
				
			}
			
				#display-number-content {
					
					font-size: 70px;
					line-height: 70px;
					font-weight: bold;
					text-align: center;
					
				}
				
			#controller-navigation {
				
				display: block;
				position: absolute;
				right: 0px;
				top: 130px;
				width: 340px;
				height: 490px;
				
			}
			
				#controller-navigation .btn-full,
				#controller-navigation .btn-group-vertical button {
					
					width: 340px;
					text-align: left;
					
				}
				
#gridImage, #gridCanvas, #gridCanvasOverlay {
	width: 500px;
	height: 600px;
	position: absolute;
	left: 0;
	top: 0;
}
#tooltip {
	position: absolute;
	display: none;
	margin-right: -300px;
	background: #000;
	padding: 1px 5px 3px 5px;
	color: #FFF;
	font-size: 10px;
	line-height: 12px;
	max-width: 200px;
	pointer-events: none;
}

.gridButton {
	text-align:left;
	margin: 0;
}
.gridDesc {
	text-align: justify;
	font-size: 12px;
	color: #888;
	margin-bottom: 20px;
	margin-top: 0;
}