# Testing only — do not deploy.
<IfModule mod_rewrite.c>
	RewriteEngine On	
	RewriteCond %{REQUEST_URI} !^/?(iframe)/
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*) frame.html [L]
</IfModule>
