body, html {
	margin: 0;
	padding: 0;
	background: #FFF;
}

	#container {
		
		display: block;
		position: relative;
		margin: 0px auto;
		box-shadow: 0px 0px 40px -20px rgba(0,0,0,0.4);
		background: #fff;
		
	}
	
		#content {
			
			display: block;
			position: relative;
			
		}
			
			#grid {
				
				display: block;
				position: absolute;
				left: 0px;
				top: 0px;
				overflow: visible;
				
			}
				
				#gridImage, #gridCanvas, #gridCanvasOverlay {
					position: absolute;
					left: 0;
					top: 0;
				}
				
				#infobox {
					
					display: none;
					position: absolute;

					background: #FFF;
					top: 0px;
					border-radius: 5px;
					box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.6);
					padding: 3px 10px 17px 10px;
					z-index: 500;

				}

					#infobox p {
						
						line-height: 1.2em;
						font-size: 12px;
						margin: 5px 0;
						
					}
					
					#infobox .scroll {
						
						overflow-y: auto;
						
					}
				
					#infobox #close {
						
						display: block;
						position: absolute;
						right: 10px;
						bottom: 10px;
						
					}
						
				#tooltip {
					
					position: absolute;
					display: none;
					background: rgba(0,0,0,0.8);
					padding: 5px 10px 5px 10px;
					color: #FFF;
					font-size: 12px;
					line-height: 14px;
					pointer-events: none;
					border-radius: 5px;
					box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.6);
					z-index: 600;
					
				}
			
			#display-number {
				
				display: block;
				position: absolute;
				right: 0px;
				top: 0px;
				
			}
			
				#display-number-content {
					
					font-weight: bold;
					text-align: center;
					
				}
				
			#controller-navigation {
				
				display: block;
				position: absolute;
				
			}
			
				#controller-navigation .btn-full,
				#controller-navigation .btn-group-vertical button {
					
					text-align: left;
					
				}
				
	#footer {
			
			display: block;
			
			margin: 10px 0px 0px 0px;
			padding: 10px 10px 10px 10px;
			text-align: center;
			
			line-height: 1.1em;
			background-color: #f5f5f5;
			border-radius: 4px;
			border: 1px solid #E3E3E3;
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset
			
		}

.gridButton {
	text-align:left;
	margin: 0;
}
.gridDesc {
	text-align: justify;
	font-size: 12px;
	color: #888;
	margin-bottom: 20px;
	margin-top: 0;
}

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}